:root {
  --main-bg-color: #431C60;
  --sencodary-bg-color: #4527A0;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #AAB5E0;
  --gradient-color: linear-gradient(45deg, #4527A0, #7B1FA2);
  --button-bg-color:  #7B1FA2;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

.banner {
  background-image: url("../img/img1.png");

  width: 100%;
  background-size: cover;

  height: 300px;
}


.main {
  max-width: 420px;
  margin: 0 auto 40px auto;
}

.main__title {
  font-size: 48px;
  color: var(--primary-text-color);
  max-width: 260px;
}


.plans {
  width: 100%;
}

.plans__card, 
.plans__visits, 
.plans__simulation {
  margin-top: 20px;
  border-radius: 4px;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__header h4 {
  color: var(--secondary-text-color);
}

.card__header button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 0;
  background-color: var(--button-bg-color);
}

.card__image, 
.visits__image {
  width: 100%;
  height: 400px;

  background-image: url("../img/img2.png");
  background-size: cover;
  background-position: center;
  border-radius: 4px;

  position: relative;
}

.card--blur,
.visits--blur {
  width: 100%;
  height: 110px;
  color: var(--primary-text-color);
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 0 0 4px 4px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__title,
.visits__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title h3,
.visits__title h3 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.card__title span {
  padding: 5px 9px;

  border: 0;
  background: var(--gradient-color);
}

.card__sidebar, 
.visits__sidebar, 
.simulation__sidebar,
.boardings__sidebar {
  height: 1px;
  margin: 12px 0;

  background-color: var(--primary-text-color);
}

.visits__image {
  background-image: url("../img/img3.png");
}

.plans__simulation {
  background: var(--gradient-color);
  padding: 6px 20px;
}

.simulation__form {
  width: 100%;
  margin: auto;
  padding-top: 18px;
}

.simulation__form input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 8px;

  border-radius: 3px;
  border: 0;
  outline: none;
}

.simulation__transports {
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simulation__transport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;
}

.simulation__transport div {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-bottom: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  background-color: #AAA;
}

.simulation__transport img {
  width: 36px;
  height: 36px;
}

.simulation__transport span {
  text-transform: uppercase;
  text-align: center;
}

.simulation__sidebar {
  margin: 20px 0;
}


.navbar {
  background-color: var(--sencodary-bg-color);
}

.navbar nav {
  max-width: 340px;
  margin: auto;
  padding: 18px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__icon {
  width: 28px;
  height: 28px;
}


.boardings {
  width: 100%;
  margin-top: -250px;
}

.boardings__header {
  display: flex;
}

.boardings__button {
  flex: 1;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: bold;
  padding: 13px 18px;

  text-transform: uppercase;
  border: 0;
}

.boardings__button.boardings__now {
  background-color: #8BC34A;
  text-align: left;
}

.boardings__button.boardings__after {
  background-color: #272727;
  text-align: right;
}

.boardings__body {
  color: var(--primary-text-color);
  padding: 18px;

  background-color: rgba(39, 39, 39, 0.8);
}

.boardings__destiny, 
.boardings__match {
  display: inline-block;
  text-align: center;
}

.boardings__destiny h2,
.boardings__match h2 {
  text-transform: uppercase;
}

.boardings__details {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);

  text-align: center;
}

.boardings__details div {
  margin-bottom: 14px;
  text-transform: uppercase;
}

.boardings__details span {
  font-size: 12px;
  color: #CCCCCC;
}

.boardings__details p {
  margin: 0;
  font-size: 18px;
  color: var(--primary-text-color);
}

.boardings__details button {
  color: var(--primary-text-color);
  font-size: 14px;
  grid-column: 2 / 4;

  border: 0;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  text-transform: uppercase;
}



.plans__timeline {
  width: 100%;
}

.timeline__image {
  width: 100%;
  height: 400px;
  margin-top: 20px;

  border-radius: 4px;
  background-image: url("../img/img4.png");
  background-position: center;
  background-size: cover;
}

.timeline--opacity {
  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.6);
}

.timeline__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.timeline__details p {
  font-size: 18px;
  color: var(--primary-text-color);
  max-width: 280px;
}

.timeline__details span {
  color: #8BC34A;
}

.timeline__person {
  width: 50px;
  height: 50px;

  background-image: url("../img/img5.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.timeline__area {
  width: 100%;
  padding: 0 20px 0 30px;
  color: var(--primary-text-color);

  border-left: 2px solid #FFFFFF;
  position: relative;
}

.timeline__item {
  display: flex;
  justify-content: space-between;
}

.timeline__item h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.timeline__item p {
  font-size: 18px;
  margin-bottom: 8px;
}

.timeline__button {
  display: block;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-bg-color);
  border-radius: 50%;
}

.timeline__button img {
  width: 30px;
  height: 30px;
}

.timeline__item.match::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  border: 3px solid #ddd;
  position: absolute;
  top: 0;
  left: -8px;
}

.timeline__item.destiny::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  border: 3px solid #ddd;
  position: absolute;
  bottom: 0;
  left: -8px;
}







